h1#title {
    text-transform: capitalize;
    letter-spacing: .1rem;
    font-size: 2.3rem;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

div#detailsOpen {
    padding: 1rem;
    width: 95%;
    background: #a5a5a5; 
    box-shadow: 1rem 1rem 1rem grey;
}

div#detailsClosed {
    padding: 1rem;
    width: 95%;
    background: #a5a5a5; 
    box-shadow: 1rem 1rem 1rem grey;
    opacity: 0.5;
    position: relative;
}


h2#closedInfo {
    position: absolute;
    top: 48%;
    padding: 1rem;
    background: #5CC165;
    box-shadow: 1rem 1rem 1rem grey;
}

.itemDetails {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.itemDetails p {
    margin: 2rem 2rem 0rem 2rem;
}

.itemDetails p#description {
    width: 95%;
    height: auto;
    white-space: pre-wrap;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.itemDetails h4 {
    margin: .2rem 2rem 0rem 2rem;
}

.itemDetails input {
    margin-left: 2rem;
    width: 8rem;
    padding: .28rem;
    padding-left: 1rem;
    color: black;
    font-family: Montserrat, sans-serif;
}

.itemDetails small {
    font-size: .7rem;
}

section#comments {
    background: #a5a5a5;  /* fallback for old browsers */
    box-shadow: 1rem 1rem 1rem grey;
    margin-bottom: 2rem;
}

section#comments h4 {
    margin-top: 1rem;
    text-align: center;
}

section#comments ul{
 width: 50rem;
 min-height: 10vh;
}

section#comments li {
    list-style-type: square;
    padding: 1rem;
    border-bottom: 1px solid #d4d4d4;
    transition: all .4s 
}

section#comments li:hover {
    background: #c1c1c1;
}

section#comments form div {
    width: 100%;
}
section#comments form label {
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

section#comments form input {
    width: 50%;
    padding: .25rem;
    font-size: .9rem;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #8a8a8a;
}

section#comments form textarea {
    width:50%;
    height: 10rem;
    padding: .5rem;
    font-size: .9rem;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #8a8a8a;
}
i.closeb {
    color: #B32000;
    transition: all .3s;
}

i.closeb:hover {
    font-size: 1.5rem;
    color: #E92A2A;
}