{% extends "auctions/layout.html" %}

{% block body %}
    <ul class="nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link menuLink mr-3" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li class="nav-item">
                <a style="background: #E92A2A;" class="nav-link menuLink" href="{% url 'logout' %}">Log Out</a>
           </li>

        {% else %}

    <div>
        <h2>Login</h2>

    {% if message %}
        <div><span style="color:#D66464;font-size:.9rem; font-weight:400;font-family: 'Open Sans Condensed', sans-serif;">{{ message }}</span></div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
            <input class="btn btn-secondary form-control" type="submit" value="Login">
    </form>

     Don't have an account? <a href="{% url 'register' %}">Register here.</a>

    </div>
    {% endif %}
    </ul>
    <hr>
    {% if user.is_authenticated %}
        <h2>Active Listings</h2>
        <ul>
            {% for auction in auctions %}
            <li style="list-style: none;" class="auctionTable">
                <div class="row">
                    <div class="col-md-5 d-none d-md-block">
                        <img src="{{ auction.img_url }}" alt="">
                    </div>
                    <div class="col-md-5 auctionRow">
                        <h4>{{ auction.title }}</h4>  
                        <div><p>Price: <strong>${{ auction.current_price }}</strong></p></div> 
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="{{ auction.title }}" />
                            <button type="submit" class="btn btn-secondary" style="font-size: 1rem; font-family: Arial, Helvetica, sans-serif">Visit item</button>
                        </form>
                    </div>
                </div>

            </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>the right plattform to interact with products.</h2>        
    {% endif %} 
 
</div>
{% endblock %}



<!-- started styling the Li of auction, but needs to finish the styling. (just needs the span and a button to visualize the entry.) -->
<!-- to style in production, use sass --watch auctionlist.scss auctionlist.css -->