{% extends "auctions/layout.html" %}

{% block head %}   
        <link href="../../static/auctions/auctionlist.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <ul class="nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link menuLink mr-3" href="{% url 'createListing' %}">Create Listing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menuLink mr-3" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li class="nav-item">
                <a style="background: #E92A2A;" class="nav-link menuLink" href="{% url 'logout' %}">Log Out</a>
           </li>

        {% else %}

    <div>
        <h2 id="login">Login</h2>

    {% if message %}
        <div><span style="color:#D66464;font-size:.9rem; font-weight:400;font-family: 'Open Sans Condensed', sans-serif;">{{ message }}</span></div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
            <input class="btn btn-secondary form-control" type="submit" value="Login">
    </form>

  Don't have an account? <a style="color: #906E0C;" href="{% url 'register' %}">Register here.</a>

    </div>
    {% endif %}
    </ul>
    <hr>
    {% if user.is_authenticated %}
        <h2 class="mb-5" style="color:#906E0C">Active Listings</h2>
        <ul class="all-auctions">
            {% for auction in auctions %}
            <li style="list-style: none;" class="auctionTable">
                <div class="row">
                    <div class="col-md-5 d-none d-md-block">
                        <img src="{{ auction.img_url }}" alt="">
                    </div>
                    <div class="col-md-5 auctionRow">
                        <h4>{{ auction.title }}</h4>  
                        <small>{{ auction.description }}</small>
                        <div><p>Price: <strong>${{ auction.current_price }}</strong></p></div> 
                        <a href="{% url 'item_page' auction.title %}"><button class="btn btn-outline-success">Visit page</button></a>
                    </div>
                </div>

            </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2 id="login">the right plattform to interact with products.</h2>        
    {% endif %} 
 
</div>
{% endblock %}

<!-- next implementations:

    * implement the watchList implementation 
        - I already created the logic of the model and the adding to the watchlist, needs to change the button to "remove from watchlist" if the item is alreandy on watchlist
        - final step is creating the page "WatchList" where stays all the items in the watchlist of the user








    * implement the ability to close a listing (if you're the creator) and the listing stays no more active and the highest bid wins
    * create a category, where it is specified in the creation of the bid 
    * implement the search of a item, being able to type the title and filter a category
-->