{% extends "auctions/layout.html" %}

{% block head %}   
        <link href="../../static/auctions/auctionlist.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <ul class="nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link menuLink mr-3" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li class="nav-item">
                <a style="background: #E92A2A;" class="nav-link menuLink" href="{% url 'logout' %}">Log Out</a>
           </li>

        {% else %}

    <div>
        <h2 id="login">Login</h2>

    {% if message %}
        <div><span style="color:#D66464;font-size:.9rem; font-weight:400;font-family: 'Open Sans Condensed', sans-serif;">{{ message }}</span></div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
            <input class="btn btn-secondary form-control" type="submit" value="Login">
    </form>

  Don't have an account? <a style="color: #906E0C;" href="{% url 'register' %}">Register here.</a>

    </div>
    {% endif %}
    </ul>
    <hr>
    {% if user.is_authenticated %}
        <h2>Active Listings</h2>
        <ul>
            {% for auction in auctions %}
            <li style="list-style: none;" class="auctionTable">
                <div class="row">
                    <div class="col-md-5 d-none d-md-block">
                        <img src="{{ auction.img_url }}" alt="">
                    </div>
                    <div class="col-md-5 auctionRow">
                        <h4>{{ auction.title }}</h4>  
                        <div><p>Price: <strong>${{ auction.current_price }}</strong></p></div> 
                        <a href="{% url 'item_page' auction.id %}"><button class="btn btn-outline-success">Visit page</button></a>
                    </div>
                </div>

            </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2 id="login">the right plattform to interact with products.</h2>        
    {% endif %} 
 
</div>
{% endblock %}


<!-- styled the item page -->

<!-- next step is to style the register page -->

<!-- after this we need to start using the user model to creating a item -->
<!-- after this we need to make the model for bids and implement the working -->