{% extends "auctions/layout.html" %}

{% block head %}
<link rel="stylesheet" href="../../static/auctions/itemPage.css">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-5">
        <h1 id="title">{{ i.title }}</h1>
        <p>created by: <strong>{{ i.creator }}</strong></p>
        <img src="{{ i.img_url}}">
    </div>

<div class="col-md-7 itemDetails">
    <p class="mt-5" id="description">{{ i.description }}</p>
    <p>Current price: <strong>${{i.current_price}}</strong></p>
    <form action="" method="post">
        {% csrf_token %}
        <button style="margin-left: 2rem; margin-top: 2rem;" type="submit" class="btn btn-warning btn-sm">Add to Watch list<i class="fas fa-eye ml-2"></i></button>
    </form>    
    <form action="{% url 'createBid' i.title %}" method="post">
    {% csrf_token %}
    <h4>Make a Bid <small>minimum of <strong>${{ i.current_price}}</strong></small></h4>
    <div class="d-flex align-items-center">
        <input value="{{i.current_price}}" type="number" min="{{ i.starting_bid }}" name="bid">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
    </form>
</div>
</div>

<section id="comments">
    <h4>Comments</h4>
    <ul class="border mb-0">
        {% for comment in comments %}
            <li>
                <span class="h6">{{comment.creator}}</span>: <span>{{ comment.comment }}</span>
            </li>
        {% endfor %}
    </ul>
    <form action="{% url 'createComment' i.title %}" method="post" class="border d-flex flex-column align-items-center justify-contents-between">
        {% csrf_token %}
        <h2 class="mt-3">Give this item a comment</h2>
        <div class="d-flex align-items-center justify-content-center border-bottom m-3">
            <label for="creator" class="m-3">Your name:</label>
            <input id="creator" name="creator" type="text" value="{{ user }}" class="mt-5 mb-5">

        </div>
        <div class="d-flex align-items-start justify-content-center">
            <label for="comment" class="m-3">Your text:</label>
            <textarea id="comment" name="content" placeholder="Text your comment here (max of 980 caracters)"></textarea>
        </div>
        <button class="btn btn-info form-control btn-lg m-5" style="padding-bottom: 2.3rem;">Place your comment</button>
    </form>
</section>
{% endblock %}