{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/global.css' %}" rel="stylesheet">
        <link href="{% static 'auctions/auctionlist.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@200;400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
    </head>
    <body>
       <div class="container">
            <div>
                <h1 id="logo" style="cursor:pointer">Auctions</h1> 
                {% if user.is_authenticated %}
                    <p class="authenticated">Signed in as <strong>{{ user.username }}</strong>.</p>
                {% else %}
                    <p class="notAuthenticated">Not signed in.</p>
                {% endif %}
            </div> 
            {% block body %}
            {% endblock %}
            <script>
                document.getElementById("logo").onclick = function () {
            location.href = "/";
            };
            </script>
        </div>
    </body>
</html>
