{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <link href="{% static 'auctions/global.css' %}" rel="stylesheet">
        {% block head %}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@200;400;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">
    </head>
    <body>
    
            <div class="container">

            <div>
                <h1 id="logo" style="cursor:pointer" class="d-flex align-items-center">
                    Auctions
                    <i class="fas fa-gavel ml-3" style="font-size: 4.5rem"></i>
                </h1> 
                {% if user.is_authenticated %}
                    <p class="authenticated">Signed in as <strong>{{ user.username }}</strong>.</p>
                {% elif logged == False %}
                    <p></p>    
                {% else %}
                    <p class="notAuthenticated">Not signed in.</p>
                {% endif %}
            </div> 
            {% block body %}
            {% endblock %}
            <script>
                document.getElementById("logo").onclick = function () {
                location.href = "/";
                };
            </script>
        </div>
    </body>
</html>
