{% extends "auctions/layout.html" %}

{% block head%}
    <link href="../../static/auctions/auctionlist.css" rel="stylesheet">
{% endblock %}


{% block body %}
        <div>
        <h2 class="mb-5" style="color:#906E0C">WatchList<i class="fas fa-eye ml-3"></i></h2>
            
        
        </div>
        <div id="listings">
            <ul class="all-auctions">
                {% for item in items %}
                {% for i in item %}
                <li style="list-style: none;" class="auctionTable">
                    <div class="row">
                        <div class="col-md-5 d-none d-md-block">
                            <img src="{{ i.img_url }}" alt="">
                        </div>
                        <div class="col-md-5 auctionRow">
                            <h4>{{ i.title }}</h4>  
                            <small>{{ i.description }}</small>
                            <div><p>Price: <strong>${{ i.current_price }}</strong></p></div> 
                           <div class="d-flex">
                            <form action="{% url 'item_page' i.title %}">
                                {% csrf_token %}
                                <input type="hidden" name="wStatus" value="True" >
                                <button class="btn btn-outline-success b">Visit page</button>
                            </form>
                            <form action="{% url 'removeWatchList' i.title%}">
                                {% csrf_token %}
                                <input type="hidden" name="wStatus" value="True" >
                                <button class="btn btn-outline-danger b">Stop Watching</button>
                            </form>
                           </div>
                        </div>
                    </div>
    
                </li>
                {% endfor %} 
                {% empty %}
                <h3 style="margin-top: 10rem">No listings found in your watchlist...</h3>
                {% endfor %}
            </ul>
        </div>
{% endblock %}